version: "3.8"
services:
  fromthepage:
    build: .
    environment:
    - DATABASE_ADAPTER=mysql
    links:
    - "mysql"
    ports:
    - "3000:3000"
    volumes:
      - fromthepage_config:/home/fromthepage/config
  mysql:
    image: mysql:5.6
    environment:
    - MYSQL_RANDOM_ROOT_PASSWORD=yes
    - MYSQL_USER=fromthepage
    - MYSQL_PASSWORD=fromthepage
    - MYSQL_DATABASE=diary_development
    volumes:
    - fromthepage_mysql_data:/var/lib/mysql
volumes:
  fromthepage_mysql_data:
  fromthepage_config:
